distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
C = {{ country }}
ST = {{ state }}
L = {{ location }}
O = The Ministry of Digital Development and Communications
CN = {{ item }}
[v3_req]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = {{ item }}